<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <!-- Para crear GRID BANNER-->
            <app-header></app-header>
            <!-- MENU BOOTSTRAPS-->
            <app-menu></app-menu>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <hr>
    <!-- Para crear PIE DE PAGINA-->
    <div class="row">
        <!-- Tabla para contactenos-->
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <app-tabla-contactenos></app-tabla-contactenos>
        </div>
        <!-- Informacionde politicas y PQRSD-->
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center">
            <app-contenido></app-contenido>
        </div>
        <!-- Enlace Redes sociales-->
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <h3>Siguenos</h3>
            <a href="https://es-la.facebook.com/" target="_blank">
                <img src="assets/faceb.jpg" class="img-fluid" width="120" height="54">
            </a>
            <a href="https://www.instagram.com/instagram/?hl=es-la" target="_blank">
                <img src="assets/Instagram.jpg" class="img-fluid" width="120" height="54">
            </a>
        </div>
    </div>



</div>