
<div class="row">
    <div class="row">
        <div class="text-center col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <img src="assets/destacados.jpg">
        </div>
    </div>
    <!-- Para crear PRODUCTOS EN MOVIMIENTO #1-->
    <marquee direction="up">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen 1.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen2.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen3.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen 4.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen5.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen6.jpeg" class="img-fluid">
                </a>
            </div>
        </div>
    </marquee>
    <!-- Para crear PRODUCTOS EN MOVIMIENTO #2-->
    <marquee direction="up">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen7.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen8.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen9.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen10.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen11.jpeg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <a [routerLink]="['venta']">
                    <img src="assets/imagen12.jpeg" class="img-fluid">
                </a>
            </div>
        </div>
    </marquee>
    <!-- Para crear PRODUCTOS ESTATICOS-->
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <a [routerLink]="['cuidado-personal']">
                <img src="assets/imagen2.1.jpeg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <a [routerLink]="['medicamentos']">
                <img src="assets/iamgen2.2.jpeg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <a [routerLink]="['vitamina']">
                <img src="assets/imagen2.3.jpeg" class="img-fluid">
            </a>
        </div>
    </div>
</div>
