<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <img src="assets/cuidado_personal.jpg" class="img-fluid" alt="Cuidado Personal">
    </div>
</div>
<br />
<hr>
<!-- Para crear PRODUCTOS ESTATICOS-->
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <a [routerLink]="['venta']">
            <img src="assets/cuiper1.jpg" class="img-fluid">
        </a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <a [routerLink]="['venta']">
            <img src="assets/cuiper2.jpg" class="img-fluid">
        </a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <a [routerLink]="['venta']">
            <img src="assets/cuiper3.jpg" class="img-fluid">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <a [routerLink]="['venta']">
            <img src="assets/cuiper4.jpg" class="img-fluid">
        </a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <a [routerLink]="['venta']">
            <img src="assets/cuiper5.jpg" class="img-fluid">
        </a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <a [routerLink]="['venta']">
            <img src="assets/cuiper6.jpg" class="img-fluid">
        </a>
    </div>
</div>
